# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry
.venv/
.venv3/
.poetry/
.poetry.lock

# IDE / Editör özel dosyaları
.idea/
.vscode/
*.sublime-*

# Diğer
*.log
*.db
*.sqlite
*.pyc
__pycache__
.DS_Store
.env
